Source: qpdf
Section: libs
Priority: optional
Build-Depends: cdbs, debhelper (>= 5.0.38), libpcre3-dev, zlib1g-dev
Maintainer: Jay Berkenbilt <qjb@debian.org>
Standards-Version: 3.7.3

Package: libqpdf1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: qpdf
Description: runtime library for PDF transformation/inspection software
 QPDF is a program that does structural, content-preserving
 transformations on PDF files.  It could have been called something
 like pdf-to-pdf.  It also provides many useful capabilities to
 developers of PDF-producing software or for people who just want to
 look at the innards of a PDF file to learn more about how they work.
 .
 QPDF offers many capabilities such as linearization (web
 optimization), encryption (password protection), and decryption of
 PDF files as well as changing whether or not PDF files use object
 streams (compressed objects).  It also has facilities for checking
 PDF files for structural errors, inspecting stream contents, or
 extracting objects from PDF files.  QPDF is not PDF content creation
 software -- it does not have the capability to create PDF files from
 scratch.
 .
 This package contains the qpdf runtime libraries required to run
 programs that link with the qpdf library.

Package: libqpdf-dev
Section: libdevel
Architecture: any
Depends: libqpdf1 (= ${binary:Version}), libpcre3-dev, zlib1g-dev
Recommends: qpdf
Description: development files for PDF transformation/inspection library
 QPDF is a program that does structural, content-preserving
 transformations on PDF files.  It could have been called something
 like pdf-to-pdf.  It also provides many useful capabilities to
 developers of PDF-producing software or for people who just want to
 look at the innards of a PDF file to learn more about how they work.
 .
 QPDF offers many capabilities such as linearization (web
 optimization), encryption (password protection), and decryption of
 PDF files as well as changing whether or not PDF files use object
 streams (compressed objects).  It also has facilities for checking
 PDF files for structural errors, inspecting stream contents, or
 extracting objects from PDF files.  QPDF is not PDF content creation
 software -- it does not have the capability to create PDF files from
 scratch.
 .
 This package includes all development files needed to compile
 applications that use the qpdf library.

Package: qpdf
Section: text
Architecture: any
Depends: ${shlibs:Depends}
Description: tools for and transforming and inspecting PDF files
 QPDF is a program that does structural, content-preserving
 transformations on PDF files.  It could have been called something
 like pdf-to-pdf.  It also provides many useful capabilities to
 developers of PDF-producing software or for people who just want to
 look at the innards of a PDF file to learn more about how they work.
 .
 QPDF offers many capabilities such as linearization (web
 optimization), encryption (password protection), and decryption of
 PDF files as well as changing whether or not PDF files use object
 streams (compressed objects).  It also has facilities for checking
 PDF files for structural errors, inspecting stream contents, or
 extracting objects from PDF files.  QPDF is not PDF content creation
 software -- it does not have the capability to create PDF files from
 scratch.
 .
 This package includes the command-line qpdf tools.  It also contains
 the documentation.
