#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
# To skip tests:
#export DEB_BUILD_OPTIONS=nocheck

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_compress:
	dh_compress --exclude examples/

override_dh_auto_configure:
	dh_auto_configure -- \
          -DCMAKE_BUILD_RPATH_USE_ORIGIN=1 \
	  -DUSE_IMPLICIT_CRYPTO=0 -DREQUIRE_CRYPTO_GNUTLS=1 \
	  -DSHOW_FAILED_TEST_OUTPUT=1 -DCMAKE_BUILD_TYPE=RelWithDebInfo \
	  -DQTEST_COLOR=0

override_dh_install:
	dh_install
	mkdir -p debian/libqpdf-dev/usr/share/doc/libqpdf-dev
	mv debian/qpdf/usr/share/doc/qpdf/examples \
		debian/libqpdf-dev/usr/share/doc/libqpdf-dev/
	cp -p README.md debian/libqpdf-dev/usr/share/doc/libqpdf-dev/README.md
	mkdir -p debian/qpdf/usr/share/bash-completion/completions
	cp completions/bash/qpdf \
		debian/qpdf/usr/share/bash-completion/completions/qpdf
	mkdir -p debian/qpdf/usr/share/zsh/vendor-completions
	cp completions/zsh/_qpdf \
		debian/qpdf/usr/share/zsh/vendor-completions/_qpdf
	dh_missing --list-missing
